body {
  background-color: white;
}

#column {
  float: left;
}

#column #left {
  background-color: blue;
  width: 25%;
}

#column #right {
  background-color: red;
  width: 70%;
}

@media screen and (max-width: 600px) {
  #column #left, #column #right {
    width: 100%;
  }
}
