body {
  background-color: white;
}

/* 2-column layout (start) */
#column {
  float: left;
}

#left {
  background-color: blue;
  width: 20%;
}

#right {
  background-color: red;
  width: 70%;
}

@media screen and (max-width: 600px) {
  #column {
    #left, #right {
      width: 100%;
    }
  }
}
/* 2-column layout (end) */
