body {
  background-color: yellow;
}

/* 2-column layout (start) */
#column {
  float: left;
  width: 800px;
}

#left {
  background-color: blue;
  float: left;
  width: 150px;
}

#right {
  background-color: red;
  float: left;
  width: 600px;
}
/* 2-column layout (end) */
